<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>E-Rajasthan</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../../css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="../../css/animate.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

</head>

<body>

    <div id="wrapper" style="height: 100%;">
        <div id="page-wrapper" class="gray-bg">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>Search Results</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content table-responsive" style="text-align: center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="15%" style="text-align:center">Name</th>
                                            <th width="35%" style="text-align:center">Price</th>
                                            <th width="10%" style="text-align:center">Manufacturer</th>
                                            <th width="10%" style="text-align:center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each medicines}}
                                        <tr>
                                            <td width="15%">{{name}}</td>
                                            <td width="25%" style="text-align:center">{{price}}</td>
                                            <td width="10%" style="text-align:center">{{manufacturer}}</td>
                                            <td width="10%" style="text-align:center">
                                                <form action="">
                                                    <input type="checkbox" name="select" value="select">
                                                </form>
                                            </td>
                                            {{/each}}
                                    </tbody>
                                </table>
                                <button type="submit" class="btn" style="margin: 1em" data-toggle="modal" data-target="#myModal">Generate Request</button>

                                <div id="myModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">ENTER YOUR BHAMSHAH ID</h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" placeholder="Bhamashah Id" class="form-control" name="searchKey" id="top-search" style="width: 90%; font-size: 2em; margin: 0.5em;">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Send OTP</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <!-- Mainly scripts -->
    <script src="../../js/jquery-2.1.1.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peity -->
    <script src="../../js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="../../js/inspinia.js"></script>
    <script src="../../js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="../../js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script src="../../js/demo/peity-demo.js"></script>

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

</body>

</html>